<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.tima.xabardor" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name="uz.tima.xabardor.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >

        <activity
            android:name="uz.tima.xabardor.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uz.tima.xabardor.ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.video.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.video.VideoFullScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="uz.tima.xabardor.ui.news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.news.list.NewsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about.AboutUsAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.contact.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.news.favourites.FavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.news.author.AuthorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uz.tima.xabardor.ui.no_connection.NoConnectionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>